@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
/*seccion de inicio*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


.inicio{
  display: flex;
  background-color: #333333;
  
  /*background: url(/assets/img/mirando\ de\ frente.jpg) no-repeat center;*/
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.ancho-maximo img{
border-radius: 50%;
 width: 40%;
}

.contenido-inicio {
  display: flex;
}
.derecha img {
  margin: auto;
  display: block;
  width: 65%;
  transition: all .3s ease;
   
}

.derecha img:hover{
  border: 3px solid #FEC935;
}

.inicio .ancho-maximo {
  width: 100%;
  display: flex;
  margin: auto 0 auto 40px;
  display: block;
}

.inicio .ancho-maximo .row{
  margin-right: 0;
 
}

.inicio .contenido-inicio .text-1{
  font-size: 24px;
  margin-left: 30px;

}

.inicio .contenido-inicio .text-2{
  font-size: 5.2rem;
  margin-left: -3px;
  font-family: sacramento; 
  margin-left: 30px;
  margin-top: 200px;
}
.inicio .contenido-inicio .text-2 span{
  font-size: 5rem;
  margin-left: -3px;
  font-family: sacramento; 
  margin-left: 30px;
  color: #FEC935;
}

.inicio .contenido-inicio .text-3{
  font-size: 36px;
  margin: 5px 0; 
}

.inicio .contenido-inicio .text-3 span{
  color: #FEC935;
  font-weight: 500;
}


.ancho-maximo .inicio .contenido-inicio  p{
  font-family: Poppins;
  font-size: 2rem;
}


.inicio .contenido-inicio a {
  display: inline-block;
  background-color: #FEC935;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #FEC935;
  transition: all .3s ease;
}

.inicio .contenido-inicio .boton {
  display: inline-block;
  color: #333333;
  background: #FEC935;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  padding: 5px 10px;
  margin-top: 30px;
  margin-left: 30px;
  font-weight: 500;
  border: 2px solid #FEC935;
  transition: all 0.3s ease;
  text-decoration: none;
}
.inicio .contenido-inicio .boton:hover{
  color: #FEC935;
  background: none;
}


.inicio .contenido-inicio a{
  color: #FEC935;
  background: none;
}


/*codigo de stilos similares*/

section{
  padding: 100px 0;
  
}
p{
  
  font-family: Poppins;
  font-size: 0.8rem;
}


.sobre-mi .ancho-maximo {
  
  margin: auto 40px auto 40px;
  
}
.sobre-mi, .portafolio, .habilidades, .contactos{
  font-family: "poppins", "san-serif";
  
}





/*stylos de la seccion SOBRE MI*/

.sobre-mi .portafolio{
  font-family: "poppins", "san-serif";
  
}


.sobre-mi .title{
  position: relative;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: sacramento, sans-serif;
  

}
.sobre-mi .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #FEC935;
  transform: translateX(-50%);
}

.sobre-mi .contenido-sobremi,
.portafolio .portafolio-content,
.habilidades
.contactos .contenido-contacto{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.sobre-mi .contenido-sobremi .izquierda{
  width: 55%;
  
}

.sobre-mi .contenido-sobremi .izquierda img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 20px;
}
.sobre-mi .contenido-sobremi .derecha{
  width: 45%;
}

.sobre-mi .contenido-sobremi .derecha .text{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;

}

.sobre-mi .contenido-sobremi .derecha .text span{
  color: #FEC935;
  font-size: 2rem;
  font-family: sacramento, sans-serif;

}
.sobre-mi .contenido-sobremi .derecha p{
  text-align: justify;

}
.sobre-mi .contenido-sobremi .derecha a{
  display: inline-block;
  background-color: #FEC935;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #FEC935;
  transition: all .3s ease;
}

.sobre-mi .contenido-sobremi .derecha a:hover{
  color: #FEC935;
  background: none;

}




/*seccion de portafolio*/

section .portafolio{
  height: 100%;
  color: #fff;
  background: #333333;
}


.portafolio .title{
  position: relative;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: sacramento, sans-serif;
  

}
.portafolio .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #FEC935;
  transform: translateX(-50%);
}

.portafolio .title::after{
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  padding: 5px;
  color: #FEC935;
  transform: translateX(-50%);
}


.residuo{
  display: flex;
  justify-content: flex-start;
}


.example-card {
  max-width: 410px;
  margin: 15px;
}

mat-card-title{
  text-align: left;
}

.portafolio .boton {
  display: inline-block;
  color: #333333;
  background: #FEC935;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  padding: 5px 10px;
  margin-top: 20px;
  font-weight: 500;
  border: 2px solid #FEC935;
  transition: all 0.3s ease;
  text-decoration: none;
}
.portafolio .boton:hover{
  color: #FEC935;
  background: none;
}

.progreso .progress-bar{
 margin-right: 20px;
}

h2 {
  color: #333333;
  font-size: 1.2rem;
  font-family: 'Ubuntu', sans-serif;
}
h3 {
  font-size: 0.8rem;
  font-weight: 500;
  font-family: poppins;
}



.habilidades .title{
  position: relative;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: sacramento, sans-serif;
  

}
.habilidades .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #FEC935;
  transform: translateX(-50%);
}

.habilidades .title::after{
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  padding: 5px;
  color: #FEC935;
  transform: translateX(-50%);
}


.habilidades .columnas{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.habilidades .ancho-maximo .izquierda{
  width: 100%;
  margin: auto 40px auto 40px;
  
}


/*footer*/
.container .title{
  position: relative;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: sacramento, sans-serif;
  
}

.container .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #FEC935;
  transform: translateX(-50%);
}

.text-uppercase h5{
  font-size: 0.8rem;
  font-weight: 500; 
  font-family: Poppins;
}

.footer-one h5{
  font-size: 0.8rem;
  font-weight: 500; 
  font-family: Poppins;
}

.footer-one h5 svg {
  color: #FEC935;
  
}


.footer-one a svg  {
  background-color: #FEC935;
  color:  #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px;
  transition: all 0.3s ease;
}
.footer-one a svg:hover{
  background-color: #333333;
  border: 2px solid #333333;
}


.pie {
  background-color: #333333;
  width: 100%;
  height: 100%;
  
}
.pie .logo h3 {
  color: #FEC935;
  margin: 20px;
  font-size: 1.2rem;
  font-family: ubuntu;
}


.pie p{
  text-align: center;
  color: #FEC935;
  margin: 10px;
  
}


@media(min-width: 768px){
  .pie{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  
}

@media screen and (max-width:880px){
  .residuo{
    flex-direction: column;
  }

  .box{
    width: 100%;
  }
  .pie{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

}

@media screen and (max-width:768px){

  .box{
    width: 100%;
    flex-direction: column;
    
  }
}


/* @media screen and(max-width: 768px){

  
} */



/*responsive media query start*/
@media (max-width: 1300px){
  .inicio .ancho-maximo{
    margin-left: 0px;
  }
}

@media (max-width: 1104px){
  .sobre-mi .contenido-sobremi .izquierda img{
    height: 350px;
    width: 350px;
  }
}



@media (max-width: 947px){
  .ancho-maximo {
    padding: 0 50px;
  }
  .menu-btn{
    display: block;
    z-index: 999;
  }
  .menu-btn i .active:before{
    content: "U+F479";
   }
  .navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #FEC935;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease; 
  
  }  
  .navbar .menu.active{
    left: 0;
  }
  .navbar .menu li{
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 20px;
  }
  
  
  .inicio .contenido-inicio .text-1{
    font-size: 26px  
  }
  .inicio .contenido-inicio .text-2{
    font-size: 45px  
  }
  
  .inicio .contenido-inicio .text-3{
    font-size: 32px 
  }
  
  .ancho-maximo{
    max-width: 800px;
  }

  .inicio .contenido-inicio .boton{
    font-size: 16px;
    padding: 8px 20px;
  }

  .sobre-mi .contenido-sobremi .columna{
    width: 100%;
  }

  .sobre-mi .contenido-sobremi .izquierda{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .sobre-mi .contenido-sobremi .derecha{
    flex: 100%;

  }

  .portafolio .portafolio-content .card{
    width: calc(50% - 10%px);
    margin-bottom: 20px;

  }
  .contactos .ancho-maximo{
    max-width: 800px;
  }
}


@media (max-width: 690px){
  .ancho-maximo{
    padding: 0 23px;
  }
  .inicio .contenido-inicio .text-1{
    font-size: 24px  
  }
  .inicio .contenido-inicio .text-2{
    font-size: 54px  
  }
  
  .inicio .contenido-inicio .text-3{
    font-size: 30px; 
  } 
  .inicio .contenido-inicio .a{
    font-size: 20px;
    
  }

  .portafolio .portafolio-content .card{
    width: 100%;


  }
}

@media (max-width: 500px){
  .inicio .contenido-inicio .text-1{
    
    font-size: 18px  
  }
  .inicio .contenido-inicio .text-2{
    font-size: 38px;
    
  }
  .inicio .contenido-inicio .text-2 span{
    font-size: 38px  
  }
  
  .inicio .contenido-inicio .text-3{
    font-size: 24px; 
  }
  
  .ancho-maximo img{
    border-radius: 50%;
     width: 100%;
     margin-top: 50px;
     text-align: center;
    }
    
    .derecha img {
      transition: all .3s ease;
       
    }
   
}
