h2{
  color: #FEC935;
  font-family: 'Ubuntu', sans-serif;
}
span{
  color: #333333;
  font-size: 1.2rem;
  font-family: 'Ubuntu', sans-serif;
}
p{
  font-size: 0.8rem;
  font-weight: 500;
  font-family: poppins;
}