<div class="scroll-up-btn">
  <i class="fa-solid fa-up"></i>
</div>
<nav class="navbar">
<div class="ancho-maximo">
  <div class="logo"><a><span>Portafo</span>lio.</a></div>
  <ul class="menu">
    <li><a [routerLink]="['inicio']" routerLinkActive="active">Inicio</a></li>
    <li><a [routerLink]="['contacto']" routerLinkActive="active">Contacto</a></li>
    <li><a [routerLink]="['agenda']" routerLinkActive="active">Agenda</a></li>
  </ul>
  <div class="menu-btn">
    <i class="bi bi-list"></i>
  </div>
</div>
</nav>




