@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;

}
.navbar a:hover {
  color: #FEC935;
  
}


html{
  scroll-behavior: smooth;
}

.ancho-maximo{
  
  padding: 0 30px;
  
}

/*navbar styling*/

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
  overflow: hidden;
  background-color: #333;
  
  
}

.navbar.sticky {
  padding: 15px 0;
  background: #FEC935;
}


.navbar .ancho-maximo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  
}

.navbar .logo a span{
  color: #FEC935;
  transition: all 0.3s ease;
}


.navbar.sticky .logo a span{
  color: #333333;

}

.navbar .menu li{
  list-style: none;
  display: inline-block;
  text-align: right;
  font-family: sacramento;
}

.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-left: 50px;
  transition: color .3s ease;
  text-align: right;
}

.navbar .menu li a:hover{
  color: #FEC935;
}


.navbar.sticky .menu li a:hover{
  color: #333333;

}

@media (max-width: 947px){
  .ancho-maximo {
    padding: 0 70px;
  }
  .logo {
    
    font-size: 1rem;
  }
  ul .menu{
    text-align: center;
    font-size: 0.4rem;
    padding: 20px;
  }
 
}

@media (max-width: 425px){
  
  .logo {
    
    font-size: 1rem;
    
  }
  ul .menu{
    text-align: center;
    font-size: 0.5rem;
    
  }
  ul .menu li a{
    
    font-size: 0.5rem;
    
  }

}